<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.jsinfor.dao.PersonMapper" >

  <resultMap id="BaseResultMap" type="com.jsinfor.bean.Person" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="companyType" property="age" jdbcType="INTEGER" />
  </resultMap>
  
  <sql id="Base_Column_List" >
    id, name,age
  </sql>
  
  <select id="selectAll" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_person
  </select>
  
  <select id="findById" resultMap="BaseResultMap" >
    select 
    <include refid="Base_Column_List" />
    from t_person
    where id = #{0}
  </select>
</mapper>